@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700,1500|Sniglet:100,200,300,400,500,600,700|Questrial:100,200,300,400,500,600,700,800|Monoton:100,200,300,400,500,600');
/*------------------------Colors/text alignment*/

body {
    background-color: #161616;
}

.navbar-style {
    height: 50px;
}

.bg-color-navbar {
    background-color: #161616;
}

.bg-band-container {
    background-color: #161616;
}

.footer-bg-color {
    background-color: #414141;
}

.uppercase {
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.h3-style {
    color: #e68210;
}

.box {
    color: #e68210;
    font-size: 40px;
}

.color-text {
    color: #e68210;
}

.album-text {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #e68210;
    font-size: 20px;
    margin-bottom: 30px;
}

/*------------------------Colors/text alignment*/

/*----------------------------------Text----*/

.header-name {
    font-size: 70px;
    font-family: "Monoton", sans-serif;
    font-weight: 500;
    color: darkorange;
}

.uppercase a {
    margin-top: 30px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    color: #fafafa;
}

.uppercase a:hover {
    color: #e68210;
    transition: 0.5s ease-in-out;
}

.album a {
    text-decoration: none;
}

.album a:hover {
    color: #fafafa;
}

.band-container {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    min-height: 250px;
}

.box {
    background-color: #161616;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Exo", sans-serif;
    font-weight: 400;
}

.image1 {
    background-image: url('../images/image1.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.about-image {
    background-image: url('../images/aboutimage.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    border-radius: 30px;
}

/*---------------------------------- Social Links */

.social-links {
    text-align: center;
}

.social-links a {
    color: #fafafa;
    font-size: 50px;
    margin: 20px;
    text-decoration: none;
}

.fa-instagram:hover {
    color: #da545b;
    transition: 0.5s ease-in-out;
}

.fa-facebook:hover {
    color: rgb(67, 67, 150);
    transition: 0.5s ease-in-out;
}

.fa-youtube:hover {
    color: red;
    transition: 0.5s ease-in-out;
}

.fa-soundcloud:hover {
    color: #e68210;
    transition: 0.5s ease-in-out;
}

/*---------------------------------- Social Links */

.about-them {
    color: #cfcccc;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 3px;
    font-family: "Sans-serif", sans-serif;
    font-weight: '';
    font-size: 18px;
}

.about-us {
    color: #e68210;
    font-size: 40px;
}

.iframe-margin {
    margin-bottom: 30px;
}

.music-text {
    color: #e68210;
}

footer {
    margin-top: 20px;
    padding: 0;
}

/*---------------------------------- Gallery */

img {
    width: 250px;
    height: 200px;
}

th {
    font-size: 2em;
    background-color: #fafafa;
    padding: 20px;
}

td {
    background-color: #fafafa;
    padding: 25px;
}

.td-uppercase {
    text-align: center;
}

table {
    background-color: #e68210;
    width: 60%;
    padding: 20px;
}

.phonegallery {
    padding: 30px;
}

/*------contact form-------*/

.contact-header {
    color: #e68210;
    font-family: "Exo", sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 800px;
    height: auto;
    padding: 10px;
    background: #161616;
    
}

.text-area {
    width: 600px;
    height: auto;
    background-color: #fafafa;
    color: rgb(5, 5, 5);
    border-radius: 10px;
    border-color: none;
}

button {
    background-color:#d6540f;
    color: black;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 20px;
}

button:hover {
    background-color: rgb(28, 172, 28);
    transition: 0.5s ease-in-out;
}

/*---------------------------------- Contact Form */

@media (max-width: 768px) {
    .navbar-style {
        height: 80px;
    }

    .wrapper {
        width: 350px;
        height: auto;
        padding: 10px;
        background: #423939;        
    }

    .text-area {
        width: 300px;
        height: auto;
        background-color: #fafafa;
        color: rgb(5, 5, 5);
        border-radius: 10px;
        border-color: none;
    }


}