@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700,1500|Sniglet:100,200,300,400,500,600,700|Questrial:100,200,300,400,500,600,700,800|Monoton:100,200,300,400,500,600');
body {
    background-color: #161616;
}

.navbar-style {
    height: 50px;
}

.bg-color-navbar {
    background-color: #414141;
}

.bg-band-container {
    background-color: #161616;
}

.footer-bg-color {
    background-color: #414141;
}

.uppercase {
    text-transform: uppercase;
    text-align: center;
    color: #ec8b0b;
}

.header-name {
    font-size: 50px;
    font-family: "Monoton", sans-serif;
    font-weight: 500;
}

.uppercase a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    color: #fafafa;
}

.uppercase a:hover {
    color: #e68210;
}

.band-container {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    min-height: 250px;
}

.box {
    background-color: #161616;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Exo", sans-serif;
    font-weight: 400;
}

.box .uppercase {
    color: #e68210;
}

.image1 {
    background-image: url('../images/image1.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.about-image {
    background-image: url('../images/aboutimage.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    border-radius: 30px;
}

.social-links {
    text-align: center;
}

.social-links a {
    color: #fafafa;
    font-size: 50px;
    margin: 20px;
    text-decoration: none;
}

.fa-instagram:hover {
    color: #da545b;
}

.fa-facebook:hover {
    color: rgb(67, 67, 150);
}

.fa-youtube:hover {
    color: red;
}

.fa-soundcloud:hover {
    color: #e68210;
}

.about-them {
    color: #fafafa;
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 3px;
    font-family: "Questrial", sans-serif;
    font-weight: 300;
}

footer {
    margin-top: 20px;
    padding: 0;
}

.iframe-margin {
    margin-bottom: 30px;
}
