@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700,1500');
body {
    background-color: black;
}

/*------------------------Navbar*/

.navbar {
    position: relative;
    border-radius: 0px;
    background-color: #181716;
    margin-bottom: 0px;
}

.text {
    text-decoration: none;
    text-align: center;
    color: #fafafa;
}

.text a {
    font-family: "Exo", sans-serif;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    color: #fafafa;
    font-weight: 500;
    font-size: 19px;
}

.text a:hover {
    color: #e68210;
}

.uppercase {
    text-transform: uppercase;
}

/*------------------------Navbar*/

/*------------------------Jumbotron/lead*/

.lead {
    font-family: "Exo", sans-serif;
    font-weight: 1500;
    color: black;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: darkgrey;
}

/*------------------------Jumbotron/lead*/

.image1 {
    position: relative;
    margin-top: -30px;
    background-image: url('../images/augustoaktree.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    background: cover;
    margin-bottom: 0;
}

.image2 {
    position: relative;
    margin-top: -30px;
    background-image: url('../images/arnoldalone.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    background: cover;
    margin-bottom: 0;
}

.image3 {
    position: relative;
    margin-top: -30px;
    background-image: url('../images/aotfunky.jpg');
    min-height: 400px;
    background-repeat: no-repeat;
    background: cover;
    margin-bottom: 0;
}

.footer-nav {
    background-color: #e68210;
}